.input-data__place{
    width: 55%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}
.input-data__place input{
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-data button {
  width: 40%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input-data button:hover {
  background-color: #45a049;
  color: yellow;
}

.input-data {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 35%;
  margin-top: 1rem;
}